# Ignorar diretórios específicos da IDE
.vs/
*.vsix
*.vscode/

# Ignorar arquivos de configuração de sistema
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar arquivos de build
bin/
obj/

# Ignorar arquivos temporários do sistema
*.log
*.tmp
